<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Damoa</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/colorChip.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js" integrity="sha512-FHa4dxvEkSR0LOFH/iFH0iSqlYHf/iTwLc5Ws/1Su1W90X0qnxFxciJimoue/zyOA/+Qz/XQmmKqjbubAAzpkA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css" integrity="sha512-jO9KUHlvIF4MH/OTiio0aaueQrD38zlvFde9JoEA+AQaCNxIJoX4Kjse3sO2kqly84wc6aCtdm9BIUpYdvFYoA==" crossorigin="anonymous" />
    <style>
        .board_view_parent {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .board_view {
            width: 100%;
        }
        .labeled {
            padding: 50px 0 150px 0;
            display: inline-block;
            width: 100%;
        }
        .label_title {
            margin-top: 50px;
            font-weight: bold;
            padding: 10px 50px;
            background-color: var(--main);
            display: inline-block;
            color: white;
        }
        .label_content {
            border: 3px solid var(--main);
            padding: 80px 60px;
        }
        .label_content:nth-child(2){
            border: 3px solid var(--main);
            padding: 60px 60px;
        }
        .view-category {
            margin-top: 10px;
            font-weight: bold;
            display: inline-block;
            width: 100%;
            margin-bottom: 50px;
        }
        .view-title{
            display: flex;
            font-size: 28px;
            border-bottom: 1px solid black;
        }
        .view-value{
            display: inline-block;
            padding-top: 10px;
            font-size: 23px;
            width: 100%;
        }
        .view-textbox{
            margin-top: 20px;
            display: flex;
            border: 3px solid darkgrey;
            width: 100%;
            height: 300px;
            overflow: scroll;
        }
        .qa-box {
            margin-top: 15px;
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
            border-bottom: 1px solid gray;
        }
        .qa-box input[type=text]{
            margin: 10px 0;
            display: block;

        }
        .qa-title{
            display: flex;
            font-size: 15px;
            font-weight: bold;
        }
        .qa-value {
            display: inline-block;
            padding-top: 6px;
            font-size: 15px;
            padding-bottom: 6px;
        }
        .answer-value {
            margin-bottom: 30px;
        }
        .btn-block{
            display: inline-block;
            width: 55px;
            height: 25px;
            background-color: ivory;
            border: 2px solid var(--main);
            border-color: var(--main);
            float: right;
            font-size: 13px;
            padding: 0px;
            color: gray;
            margin-bottom: 30px;
        }
        .img-box {
            display: inline-block;
            width: 100%;
            height: 600px;
            overflow-x: scroll;
            white-space:nowrap;
        }
        .img-box img{
            margin: 10px;
            display: inline-block;
        }
        form {
            padding: 5px 0px;
        }
        form input, form textarea{
            margin-bottom: 10px;
        }
        value {
            padding: 20px;
            color: #353535;
        }
    </style>
</head>
<body>
<div id="fixed_cash">
    <i class="fas fa-donate"></i>
</div>
<nav id="menubar">
    <div class="content_box">
        <div class="menu_table">
            <div class="menu_cell">
                로고
            </div>
            <div class="menu_cell">
                <div class="search_box">
                    <div class="search_table">
                        <div class="search_cell">
                            <div class="textcell">
                                <input id="search-text" onkeydown="EnterCheck(event);" type="text" placeholder="검색어를 입력하세요.">
                            </div>
                        </div>
                        <div class="search_cell search-btn">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_cell">
                <ul>
                    <li><a href="/login"><b>login</b></a></li>
                    <li><a href="/join"><b>join</b></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main id="main">
    <div class="content_box">
        <div class="board_view_parent">
            <div class="board_view">
                <div class="labeled">
                    <div class="label_title">게시물</div>
                    <div class="label_content">
                        <div class="view-category">
                            <div class="view-title"> 제목 </div>
                            <div class="view-value"><value><%if(locals.title) {%> <%=title%> <%}%></value></div>
                        </div>
                        <div class="view-category">
                            <div class="view-title">예시 사진</div>
                            <div class="view-value">
                                <div class="img-box">
                                    <img src="/file/<%=file_idx[0]%>" width="500px" height="500px">
                                    <img src="/file/<%=file_idx[1]%>" width="500px" height="500px">
                                    <img src="/file/<%=file_idx[2]%>" width="500px" height="500px">
                                    <img src="/file/<%=file_idx[3]%>" width="500px" height="500px">
                                    <img src="/file/<%=file_idx[4]%>" width="500px" height="500px">
                                </div>
                            </div>
                        </div>
                        <div class="view-category">
                            <div class="view-title">상세 설명</div>
                            <div class="view-textbox">
                                <div class="view-value">
                                    <value><%if(locals.content) {%> <%=content%> <%}%></value>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="label_title">Q & A</div>
                    <div class="label_content qa-content">
                        <form id="form-qa-board" action="" method="POST">
                            <div class="qa-title"><%=myNickname%></div>
                            <hr>
                            <textarea id="qa_text" disabled="true" name="qa_text" cols="2" rows="2" class="form-control input-lg" placeholder="로그인 후 이용해 주세요."></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    var showReply = <%=showReply%>;
    function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
            temp = params[i].split("=");
            if ([temp[0]] == sname) { sval = temp[1]; }
        }
        return sval;
    }
    $(function (){
        $.get("api/"+getParam("board_idx"), function (data, status){
            console.log(data);
            var json = data;
            for(var i = 0; i < json.length; i++) {
                var styleNone = "";
                if(json[i]['answer'] == null) {
                    json[i]['answer'] = '답변 대기중인 질문입니다.';
                }
                else {
                    styleNone = 'style=\"display: none\"';
                }
                if(!showReply)
                    styleNone = 'style=\"display: none\"';
                var html = '<div class="qa-box">' +
                    '<div class="qa-title">'+json[i]['questioner_nickname']+'</div>' +
                    '<div class="qa-value">Q : '+json[i]['question']+'</div>' +
                    '<br><form method="POST" action="reply"> <input type="hidden" name="qa_idx" value="'+json[i]['idx']+'">' +
                    '<div class="qa-value answer-value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A : '+json[i]['answer']+'</div>' +
                    '<input name="reply_text" type="text" class="form-control input-lg " placeholder="답글을 입력해주세요." '+styleNone+'><button type="submit" class="btn btn-primary btn-block" '+styleNone+' >등 록</button></form>' +
                    '</div>';

                $('.qa-content').append(html);
            }
        });
    });

    $('.btn-q').on('click', function() {
        var qa_text = $('#qa_text').val();
        if(qa_text == '') {
            alert('빈 칸이 없도록 작성하여 주십시오.');
            return;
        }
        $('#form-qa-board').submit();
    });

    function EnterCheck(event) {
        if(event.keyCode == 13) {
            Search();
        }
    }
    function Search() {
        var stext = $('#search-text').val();
        console.log('stext : ' + stext);
        document.location.href =  '/search?search='+stext;
    }
    $('.search-btn').on('click', function() {
        Search();
    });

</script>
<script src="/css/cash.js">

</script>
</body>
</html>